# ROS2
build/
install/
log/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# VS Code
.vscode/

# OS
.DS_Store

# YOLO / Training
runs/
*.pt
!yolov8n.pt
!blocks_yolov8n.pt
!yolov8s-seg.pt

# OpenVINO
*_openvino_model/
!yolov8n_openvino_model/
